<launch>
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/>

  <arg name="config_file" default="$(find usb_camera_ros)/config/cam_settings.yaml"/>
  <arg name="cam_ns" default="usb_camera"/>
  <arg name="respawn" default="true"/>

  <group ns="$(arg cam_ns)">
    <node pkg="nodelet" type="nodelet" name="libuvc_camera" args="load libuvc_camera/driver /nodelet_manager" output="screen" required="$(eval not respawn)" respawn="$(arg respawn)">
      <rosparam command="load" file="$(arg config_file)"/>
    </node>
  </group>
  
</launch>